name: PHPStan / Code sniffer

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  schedule:
      - cron:  '0 0 * * 0'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php-version: ['7.4']

    name: PHP ${{ matrix.php-version }}

    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: mbstring, intl, apcu
          ini-values: apc.enable_cli = 1

      - name: Update composer
        run: composer self-update

      - name: Validate composer.json
        run: composer validate

      - name: Install dependencies
        run: composer update --prefer-dist --no-progress --no-suggest --prefer-stable

      - name: Bake factories to perform analysis in the following steps
        run : vendor/bin/phpunit vendor/bin/phpunit tests/TestCase/Command/BakeFixtureFactoryCommandTest.php

      - name: Run phpstan
        run: composer phpstan

      - name: Run phpcs
        run: composer cs-check
